<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>微官网-文章</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('/admin/Guanwang/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>微官网列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('/admin/Article/article')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文章管理</cite>
                        </a>
                        
                    </li>
                    <li style="margin-left: 20px">
                        <a _href="{:url('/admin/Article/create')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>添加文章</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('/admin/Cate/cate')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文章分类管理</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('/admin/Query/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>查询</cite>
                        </a>
                    </li>
                </ul>
            </li>
           
        </ul>
    </div>
</div>